@media (max-width:850px) {
  .box, .app__inputBox{
    width: 100vw;
    padding: 20px;
  }

  .app__input{
    width: 100%;
  }

  .box__todos{
    margin-top: 55px;
  }

  .app__add{
    margin-top: 10px;
  }

  .box__search{
    flex-direction: column;
  }

  .box__select{
    position: absolute;
    top: 105%;
    justify-content: center;
    width: 100%;
  }


}