svg{
  transition: .250s ease;
  cursor: pointer;
  height: 34px;
  width: 34px;
  vertical-align: middle;
}

svg:hover{
  opacity: .7;
}

.todo{
  transition: all .2s ;
  margin: 10px 0;
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-radius: 36px;
  background: var(--light-black);
}

.todo.updating{
  background: #375A65;
}

.todo div{
  margin: 10px;
  background: none;
}

.todo__check > div{
  height: 34px;
  width: 34px;
}

.todo__task{
  padding-left: 4px;
  flex:2;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 34px;
}

.todo__date{
  flex-shrink: 10;
  font-size: 14px;
}

.todo__task > *{
  width: 100%;
}

.todo__check svg{
  display: none;
  width: 100%;
  height: 100%;
}

.todo__check.is-checked svg{
  display: block;
}

.todo__check div{
  cursor: pointer;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
}

.todo__check div:hover{
  background: rgba(255,255,255,0.5);
}

.todo__update > div{
  height: 100%;
  margin: 0;
  width: 100%;
}

.todo__input-date{
  width: auto;
}

.todo__input-update{
  flex-grow: 3;
}
